# Python
__pycache__/
*.py[cod]
*$py.class

# Виртуальное окружение
venv/
env/
.venv/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pytest
.pytest_cache/

# Alembic
alembic/versions/*.pyc
alembic/versions/__pycache__/

# IDEs
.vscode/




